# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
venv_global/
venv_fs2/

# Environment Variables
.env

# Checkpoints / Datasets / Output
speecht5_laps_lora_exhaustive/
output_cuda_16gb/
output_cuda_8gb*/
Treinamento LoRA*
*.html
*.txt
!requirements*.txt
!README.md
!valores_referencia_treinamento.txt

output_cpu/
output_mac/
meus_datasets/*
datasets/*
aval_audios/
scratch/
*.wav

# Editor
.vscode/
.idea/

# Ffmpeg   
ffmpeg/

