# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Checkpoints / Datasets / Output
speecht5_laps_lora_exhaustive/
output_cuda_16gb/
output_cuda_8gb/
output_cpu/
output_mac/
meus_datasets/*
*.wav

# Editor
.vscode/
.idea/

# Ffmpeg   
ffmpeg/

